@model List<EntityLayer.Concrete.Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h5>Aktif Tur Rotalarımız</h5>

<table class="table table-bordered">
    <tr>
    <td>#</td>
    <td>Şehir</td>
    <td>Süre</td>
    <td>Kapasite</td>
    <td>Fiyat</td>
    <td>Detaylar</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DestinationId</td>
            <td>@item.City</td>
            <td>@item.DayNight</td>
            <td>@item.Capacity</td>
            <td>@item.Price</td>
            <td><a href="javascript();" class="btn btn-outline-info">Detaylar</a></td>
        </tr>
    }
</table>
